@import "vars.scss";

.active {
  display: inherit;
}

.inactive {
  display: none;
}

.accordion {
  background-color: $white;
  border: 1px solid $border-blue;
  border-radius: 5px;
  border-top-color: $border-blue;
  color: $black;
  text-align: left;
  word-wrap: break-word;

  a {
    color: $border-blue;
    display: inline-block;
    padding: 10px;

    &:hover {
      color: $border-blue;
      cursor: pointer;
    }
  }

  p {
    background-color: $background-blue;
    color: $white;
    margin-bottom: 0px;
    padding: 10px;
  }
}