@import "vars.scss";

.container {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 70%;

  hr {
    border-top: 1px solid $border-gray;
    margin: 50px 0;
  }

  h4 {
    text-align: left;
  }
}